.todoListWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.todoWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #eee;
}
