version: "3"
services:
  mysql:
    container_name: mysql
    image: mysql/mysql-server:latest
    environment:
      MYSQL_ROOT_PASSWORD: root_pw
      MYSQL_DATABASE: sample
      MYSQL_USER: test
      MYSQL_PASSWORD: test_pw
    command:
      - --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    networks:
      - db_network
    restart: always

  spring-boot:
    container_name: todo-server
    image: tkdals0978/todo-server
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    networks:
      - db_network

networks:
  db_network:
    driver: bridge
